$color-primario: #1d58ee;
$color-fondo: #c9c9c9;
$color-borde: #acaaaa;

/*Nesting-anidamiento */

.contenedorFormulario {
    background-color: $color-fondo;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 20px auto;

    h3 {
        color: $color-primario;
        margin-bottom: 20px;
        text-align: center;
    }

    .textoError {
        color: red;
        padding-bottom: 8px;
    }

    .campoInput {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid $color-borde;
        border-radius: 5px;

        &:focus {
            outline: none;
            border-color: $color-primario;
            box-shadow: 0 0 5px rgba(0, 86, 179, 0.3);
        }
    }
}